@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  /* overflow: hidden; */
}

.container {
  width: 60vw;
  position: relative;
}

.title {
  width: 300px;
  padding: 0 0 20px 0;
  font-size: 60px;
  border-bottom: 1px solid rgb(247, 156, 171);
  font-weight: 400;
}

.bg {
  width: 1200px;
}

h3 {
  font-size: 36px;
  color: rgb(247, 156, 171);
  margin-bottom: 20px;
  font-weight: 400;
}

p {
  font-size: 20px;
}

.bold {
  font-size: 24px;
  font-weight: bold;
  color: rgb(28, 106, 196);
}

.pinkbg {
  position: absolute;
  background-color: rgb(247, 156, 171, 0.2);
  top: 100px;
  left: 500px;
  width: 1000px;
  height: 830px;
  z-index: -1;
}

.pattern {
  position: absolute;
  top: 250px;
  left: 600px;
  width: 50%;
  height: 300px;
  background-image: url(image/pattern2.png);
  background-size: 50px;
}

.patternImg {
  width: 30px;
}
